<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icloud.mumu.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.icloud.mumu.system.entity.User">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="create_user" property="createUser" />
    <result column="update_time" property="updateTime" />
    <result column="update_user" property="updateUser" />
        <result column="del_flag" property="delFlag" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="address" property="address" />
        <result column="age" property="age" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="id_card" property="idCard" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        create_user,
        update_time,
        update_user,
        del_flag, username, password, address, age, phone_number, email, id_card
    </sql>

</mapper>
